$brand-primary: darken(#0a0606, 6.5%);
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootswatch/paper/variables";
@import "bootstrap";
@import "font-awesome";
@import "summernote";
@import "codemirror";
@import "codemirror/themes/solarized";
// And finally bootswatch style itself
@import "bootswatch/paper/bootswatch";

.fade.in {
  opacity: 0.5;
}
.alert {
  opacity: 0.7;
}

.form-overide.form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  margin: 0 auto;
  padding-bottom: 0;
  // line-height: 3.8;
  width: 300px;
  background-color: #f9f9f9;
    &:focus {
      border-radius: 0;

      outline: 0 none;
  }
}


.gab-btn  {
  color: #1d1c1c;
  background-color: #ffffff;
  &:hover {
    color: #1d1c1c;
    background-color: #ffffff;


    outline: 0 none;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f9f9f9;
}

// nav

nav.navbar.nav{
  font-size: 1.25em;
}
.nav.navbar-nav.navbar-left {
  font-size: 1.5em;
  font-weight: bold;
}
.nav.navbar-nav.navbar-right {
  font-size: 1.25em;
  // font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a {
  color: rgb(166, 166, 166);
}

// GAB NEW
.new-gab {
  opacity: 0.5;
}
textarea {
    resize: none;
}
.note-editable {
  font-size: 1.2em;
  letter-spacing: 0.3px;
}

#new_gab {
  margin-bottom: 30px;
}

/* WebKit browsers */
input:focus::-webkit-input-placeholder { color:transparent; }
    /* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder { color:transparent; }
    /* Mozilla Firefox 19+ */
input:focus::-moz-placeholder { color:transparent; }
    /* Internet Explorer 10+ */
input:focus:-ms-input-placeholder { color:transparent; }

#gab-title-style.form-control {
  font-size: 1.65em;
  font-weight: bold;
  height: 65px;
  line-height: 3.8;
  width: 80%;
  background-color: #f9f9f9;
}

 .btn-default:hover, .btn-default.hover {
    color: #1d1c1c;
    background-color: #ffffff;
    outline: 0 none;
  }

.note-editor {
  margin-top: 35px;
}

#gab-submit {
  padding: 10px 65px;
}

// GAB SHOW
.preview-gab {
  word-wrap: break-word;
  h2 {
    opacity: 0.6;
    margin-top: 25px;
    color: rgb(61, 61, 61);
  }
  h2.navbar-fixed-top {
    width: 60%;
    margin: 15px auto 0 auto;
  }
  p {
    font-size: 1.5em;
    color: rgb(26, 24, 24);
    line-height: 1.75;
  }
}
.gab-export {
  margin-top: 20px;
  button {
    margin: 25px;
  }
}
.zeroclipboard-is-hover {
  color: #1d1c1c;
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(3, 179, 255, 0.07) inset, 0 0 4px;
  outline: 0 none;
}


.copied::before {
  position: absolute;
  top: 0%;
  // right: 110%;
  display: block;
  content: "copied";
  font-size: 0.75em;
  padding: 2px 3px;
  color: #ffffff;
  background-color: #42ed91;
  border-radius: 3px;
  opacity: 0;
  will-change: opacity, transform;
  animation: showcopied 1.5s ease;
}

@keyframes showcopied {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
  }
}


// index
.list-gabs-wrap{
  margin-top: 45px;
  font-size: 1.35em;
  .gab-info {
    margin: 15px 0;
  }

}
.all-gabs-text {
  font-size: 0.6em;
}
.gab-link {
  color: rgb(28, 28, 27);
  &:hover {
    color: rgb(28, 28, 27);
    text-decoration: underline;
  }
}

nav.pagination {
  color: rgb(28, 28, 27);
   a {
     color: rgb(28, 28, 27);
   }
}

// log in
.login-header {
  margin-bottom: 30px;
}
.centerer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 1.25em;
}
.linksquish {
  a {
    color: rgb(83, 77, 81);
    opacity: 0.5;
    &:hover {
      opacity: 1;
      color: rgb(83, 77, 81);
    }
  }
}
#user_email {
  font-size: 1.1em;
}
#user_password {
  font-size: 1.1em;
}
#user_password_confirmation {
  font-size: 1.1em;
  margin-bottom: 35px;
}
.gab-password-reset {
  margin: 25px 0 35px 0;
}
#user_remember_me {
  // margin-bot: 20px 0;
}
.rememberable-field {
  margin-top: 25px;
  margin-bottom: 35px;
}
